<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/bulma.min.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="{{ url_for('static', filename='lib/jquery.min.js') }}"></script>
    <title>Avidity - Github API Test</title>
</head>
<body>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          <a href="{{ url_for('user.index') }}">{{repo.name}}</a>
        </h1>
        <h2 class="subtitle">
            {{repo.description}}
        </h2>
        <p>Clone url: {{repo.clone_url}}</p>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h1 class="title">List of commits </h1>
      <h2 class="subtitle">
          This a list of commits.
      </h2>

      {% for page in range(2, pages) %}
        <a href="{{ url_for('user.index', page=page) }}" >page# {{page}}</a>|
      {% endfor %}

      <hr>

      {% for commit in commits %}
        <article class="media">
            <figure class="media-left">
              <p class="image is-128x128">
                <img src="{{ commit.author.avatar_url }}">
              </p>
            </figure>
            <div class="media-content">
              <div class="content dados_capitalizados">
                  <p> <strong>author:</strong> {{ commit.commit.author.name }}</p>
                  <p> <strong>email:</strong> <span class="dados_normais">{{ commit.commit.author.email }}</span></p>
                  <p> <strong>sha:</strong> <span class="dados_normais"></span>{{ commit.commit.tree.sha }}</span></p>
                  <p> <strong>date:</strong> {{commit.commit.author.date}}</p>
                  <p> <strong>message:</strong> {{commit.commit.message}}</p>
              </div>
            </div>
        </article>
      {% endfor %}
    </div>
  </section>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Github API Test</strong> by <a href="https://github.com/gomes-fdr">Fabiano Gomes</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. 
      </p>
    </div>
  </footer>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>